<html>
  <head>
		{% load staticfiles %}
		<!-- replace when moving to django -->
  	<!--<link href="{% static 'resumegeneratormain/css/blank-resume.css' %}" rel="stylesheet" type="text/css">-->
		<link href="../static/resumegeneratormain/css/blank-resume.css" rel="stylesheet" type="text/css">

  </head>
  <body>
		<!-- Photo disabled until a better implementation is found -->
		<!--<img src='DSC_6641.jpg' id='photo'>-->

		<div class='header'>
 			<p style='font-weight: bold;'>{{user.userprofile_set.first.first_name}} {{user.userprofile_set.first.middle_initial}}. {{user.userprofile_set.first.last_name}}</p>
			<p>
				{{user.address_set.first.address_line_one}} <br>
				{{user.address_set.first.address_line_two}} <br>
				{{user.telephonenumber_set.first.number}} <br>
				{{user.userprofile_set.first.email}} <br>
			</p>

		</div>


		<br>
		<br>

		<div class='objective'>
			<p id='section-header'>OBJECTIVE</p>
			<br>
			<p id='section-content-right'>
				{{user.userprofile_set.first.objective}}
			</p>

		</div>

		<br>
		<br>

		<div class='education'>
			<p id='section-header'>EDUCATION</p>
			<br>
			{% for education in user.education_set.all %}
      	<p id='section-content-left'>
        	{{education.year_start}} - {{education.year_finish}}
        </p>

        <p id='section-content-right'>
            {{education.school}}
            <br>
            {{education.education_attained}}, {{education.month_attained}} {{education.year_attained}}.

            {% for educationaward in user.educationaward_set.all %}
                {{educationaward.award_description}}, {{educationaward.award_date}}.
            {% endfor %}
        </p>
        <br>
      {% endfor %}

		</div>

		<br>
		<br>

		<div class='workexperience'>
			<p id="section-header">WORK EXPERIENCE</p>
			<br>
			{% for workexp in user.workexperience_set.all %}
      	<p id='section-content-left'>
        	{{workexp.month_start}} - {{workexp.month_finish}} {{workexp.year_finish}}
        </p>
        <p id='section-content-right'>
          {{workexp.position}}, {{workexp.company}}.
					<br>
					{{workexp.workdone}}
        </p>
        <br>
    	{% endfor %}

		</div>

		<br>
		<br>

		<div class='cocurricular'>
			<p id='section-header'>CO-CURRICULAR ACTIVITIES</p>
			<br>
			{% for curricular in user.extracurricular_set.all %}
      	<p id='section-content-left'>
        	{{curricular.year_start}} - {{curricular.year_finish}}
        </p>
        <p id='section-content-right'>
          <b>{{curricular.position}}, {{curricular.organization}}</b>
          <br>
          {{curricular.work_done}}
        </p>
          <br>
      {% endfor %}


		</div>

		<br>
		<br>

		<div class='seminarsattended'>
			<p id='section-header'>SEMINARS ATTENDED</p>
			<br>

			{% for seminarattend in user.seminarattended_set.all %}
      	<p id='section-content-left'>
          {{seminarattend.month}} {{seminarattend.year}}
        </p>
        <p id='section-content-right'>
          <b>{{seminarattend.title}}</b>
          <br>
          {{seminarattend.seminar_head}}, {{seminarattend.venue}}.
        </p>
        <br>
      {% endfor %}
		</div>

		<br>
		<br>

		<div class='seminarsconducted'>
			<p id="section-header">SEMINARS CONDUCTED</p>
			<br>
      {% for seminarconduct in user.seminarconducted_set.all %}
      	<p id='section-content-left'>
					{{seminarconduct.month}} {{seminarconduct.year}}
				</p>
				<p id='section-content-right'>
					{{seminarconduct.position}}, {{seminarconduct.title}}
          <br>
          {{seminarconduct.seminar_head}}, {{seminarconduct.venue}}.
        </p>
        <br>
			{% endfor %}
		</div>

		<br>
		<br>

		<div class='researchprepared'>
			<p id="section-header">RESEARCH PAPERS PREPARED</p>
			<br>
			{% for researchpaper in user.researchpaper_set.all %}
      	<p id='section-content-left'>
				{{researchpaper.month}} {{researchpaper.year}}
        </p>
				<p id='section-content-right'>
        	<b>{{researchpaper.title}}</b>
          <br>
          {{researchpaper.summary}}
				</p>
        <br>
      {% endfor %}
		</div>

		<br>
		<br>

		<div class='personalbackground'>
      <p id='section-header'>PERSONAL BACKGROUND</p>
			<br>
			<p id='section-content-right'>
				{{user.userprofile_set.first.background}}
			</p>

		</div>

		<br>
		<br>

		<div class='references'>
			<p id='section-header'>REFERENCES</p>
			<br>
			<p id='section-content-right'>
				Available upon request.
			</p>

		</div>

		<br>
		<br>
	</body>


</html>
