<html>
<head>
	{% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "resumegeneratormain/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "resumegeneratormain/css/style.css" %}" rel="stylesheet">

    <script src="//use.edgefonts.net/montserrat.js"></script>

</head>
<body>

    <div class = "icon">
        <img src = "{% static "resumegeneratormain/images/icon.png" %}"  width = "77px" height= "107px">
        <br>
        <h1>DLSU Resume Generator</h1>
        <br>
    </div>

    <div class = "logIn">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="input-group col-md-4">
                <span class="input-group-addon" id="basic-addon1"> E-mail:</span>
                <input type="text" class="form-control textinput" id = "user" aria-describedby="basic-addon1" name="username">
            </div>
            <div class="col-md-4"></div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="input-group col-md-4">
                    <span class="input-group-addon" id="basic-addon1">Password: </span>
                    <input type="password" class="form-control textinput" id = "pass" aria-describedby="basic-addon1" name="password">
                </div>
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-7" id="but">
                    <a href = "{% url "login" %}" id = "login" class="btn btn-1 btn-1a">LOG IN</a>
                </div>

                <div class="col-md-4"></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class = "signUp">
                    <h5>Not yet registered? <a href="{% url "register" %}"><u>Sign Up</u></a></h5>

                </div>

            </div>
        </div>
    </div>

<script src="{% static "resumegeneratormain/js/jquery.min.js" %}"></script>
<script src="{% static "resumegeneratormain/js/bootstrap.min.js" %}"></script>

</body>
</html>
