<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>


    </style>

    <script src="//use.edgefonts.net/montserrat.js"></script>
    
    <script>
        function check() {
                if (user.value=='' || pass.value=='')
                {
                    window.alert('Username or Password is empty');
                    return false;
                }

                else if (user.value=='user' && pass.value=='1234')
                { 
                    return true;
                }

                else
                {
                     window.alert('User not found');
                     return false;
                }
            // return true or false, depending on whether you want to allow the `href` property to follow through or not
        }
    </script>

</head>

    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
          <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">
        <img alt="Brand" src="images/icon.png" width = "18px" height= "23px">
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="RGhomepagewithdynamic.html">DLSU Resume Generator</a>
    </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="RGhomepage.html">Login</a></li>
        <li><a href="SignUp.html">Sign Up</a></li>
        <li class="active"><a href="Profile.html">Profile<span class="sr-only">(current)</span></a></li>
        <li><a href="RGhomepage.html">Create Resume</a></li>
        </div>
    </nav>


<body>

    <div class="resugenTablePos container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Name H. Here</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% static "resumegeneratormain/images/profile.png" %}" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Address:</td>
                        <td>123 Silver Street, Gold Subdivision</td>
                      </tr>
                      <tr>
                        <td>Phone Number:</td>
                        <td>(02)XXX-XXXX</td>
                      </tr>
                      <tr>
                        <td>Cellphone Number:</td>
                        <td>+63XXX-XXX-XXXX</td>
                      </tr>
                   
                         <tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">email@domain.com</a></td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>
    </div>

    <div class="resugenAdditionalPos container">
      <div class="row">
        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >
   
   
          <div class="panel panel-info">
            <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Education</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>20XX - 20XX</td>
                        <td>University Name</td>
                      </tr>
                      <tr>
                        <td>20XX - 20XX</td>
                        <td>Degree or Diploma</td>
                      </tr>
                      <tr>
                        <td>20XX</td>
                        <td>Achievement Name</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

      <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Work Experience</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>20XX - 20XX</td>
                        <td>Position</td>
                        <td>Company Name</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

      <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Co-Curricular Activities</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>20XX - 20XX</td>
                        <td>Position</td>
                        <td>Company Name</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

      <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Seminars Attended</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Seminar Date</td>
                        <td>Seminar Title</td>
                        <td>Company Name</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

      <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Seminars Conducted</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Seminar Date</td>
                        <td>Seminar Title</td>
                        <td>Company Name</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

      <div class="resugenTableHead panel-heading">
              <h3 class="panel-title">Research Papers Prepared</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-xs-8 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Date</td>
                        <td>Title</td>
                        <td>Summary</td>
                      </tr>
                  </tbody>
                  </table>
          </div>
        </div>
      </div>

    </div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>

