<html>
    <head>
        {% load static %}
        <link href = "{% static "resumegeneratormain/css/custom.css" %}" rel="stylesheet">
        <script src="{% static "resumegeneratormain/js/jquery-3.2.1.js" %}"></script>
    
        
        <script>
            $( document ).ready(function() {
                $( "#header" ).load( "header.html" );
            });
        </script>
        
    </head>
        
    <body>
        <div id="header"></div>
        
        <div class="container" style="margin-top: 1em;">
            <div class="row">
                <div class="crop three columns">
                    <img src="{% static "resumegeneratormain/images/user.png" %}" class="">
                </div>
                <div class="six columns bold large">
                    Lau, Joanna Chua
                </div>
                <div class="three columns">
                    <button style="float: right;">EDIT</button>
                </div>
            </div>
            
        </div>
        
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">PERSONAL INFORMATION &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row">
                <div class="three columns">
                    <label class="bold">First Name</label>
                    <h6>Joanna</h6>
                </div>
                <div class="three columns">
                    <label class="bold">Middle Name</label>
                    <h6>Chua</h6>
                </div>
                <div class="three columns">
                    <label class="bold">Last Name</label>
                    <h6>Lau</h6>
                </div>
                <div class="three columns">
                    <label class="bold">Suffix Name</label>
                    <h6>N.A</h6>
                </div>
            </div>
            
            <div class="row">
                <label class="bold">Address</label>
                <h6>123 Gold St. Silver, U.S.A</h6>
            </div>
            
            <div class="row">
                <div class="three columns">
                    <label class="bold">Mobile Number</label>
                    <h6>+639171234567</h6>
                </div>
                <div class="three columns">
                    <label class="bold">Phone Number</label>
                    <h6>021234567</h6>
                </div>
                <div class="six columns">
                    <label class="bold">E-mail Address</label>
                    <h6>joanna_lau@dlsu.edu.ph</h6>
                </div>
            </div>
           
        </div>
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">EDUCATION &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="three columns bold">
                    Year
                </div>
                <div class="three columns bold">
                    Institution
                </div>
                <div class="six columns bold">
                    Details
                </div>
            </div>
            
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    De La Salle University
                </div>
                <div class="six columns">
                    Bachelor of Science in Computer Science with specialization in Software Technology; Dean’s List: 1st Term, AY 2009-10; 2nd Term, AY 2011-12.
                </div>
            </div>
            
            
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    De La Salle University
                </div>
                <div class="six columns">
                    Bachelor of Science in Computer Science with specialization in Software Technology; Dean’s List: 1st Term, AY 2009-10; 2nd Term, AY 2011-12.
                </div>
            </div>
            
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    De La Salle University
                </div>
                <div class="six columns">
                    Bachelor of Science in Computer Science with specialization in Software Technology; Dean’s List: 1st Term, AY 2009-10; 2nd Term, AY 2011-12.
                </div>
            </div>
        </div>
        
        
         <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">WORK EXPERIENCE &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="two columns bold">
                    Year
                </div>
                <div class="three columns bold">
                    Organization
                </div>
                
                <div class="three columns bold">
                    Position
                </div>
                
                <div class="four columns bold">
                    Work
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div><div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div>
            
        </div>
    
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">CO-CURRICULAR ACTIVITIES &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="two columns bold">
                    Year
                </div>
                <div class="three columns bold">
                    Organization
                </div>
                
                <div class="three columns bold">
                    Position
                </div>
                
                <div class="four columns bold">
                    Work
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div><div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    2013 - 2017
                </div>
                <div class="three columns">
                    Citibank
                </div>
                <div class="three columns">
                    Account Executive
                </div>
                <div class="four columns">
                    Handled the accounts of new customers and advised them on their financial endeavors.
                </div>
            </div>
            
        </div>
        
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">SEMINARS ATTENDED &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="two columns bold">
                    Date
                </div>
                <div class="three columns bold">
                    Title
                </div>
                <div class="three columns bold">
                    Organization
                </div>
                <div class="four columns bold">
                    Location
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            
        </div>
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">SEMINARS CONDUCTED &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="two columns bold">
                    Date
                </div>
                <div class="three columns bold">
                    Title
                </div>
                <div class="three columns bold">
                    Organization
                </div>
                <div class="four columns bold">
                    Location
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            <div class="row fields-margin">
                <div class="two columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Seminar Title
                </div>
                <div class="three columns">
                    La Salle Computer Society
                </div>
                <div class="four columns">
                    De La Salle University
                </div>
            </div>
            
        </div>
        
        <div class="container">
            
            <div class="row">
               <div style="float: left" class="bold">RESEARCH PAPERS PREPARED &nbsp;</div>
                <hr style="position: relative; top: 0.75em; margin-bottom: 3em;">
            </div>
            
            <div class="row mobile-title">
                <div class="three columns bold">
                    Date
                </div>
                <div class="three columns bold">
                    Title
                </div>
                <div class="six columns bold">
                    About
                </div>
            </div>
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Paper Title
                </div>
                <div class="six columns">
                    La Salle Computer Society
                </div>
            </div>
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Paper Title
                </div>
                <div class="six columns">
                    La Salle Computer Society
                </div>
            </div>
            <div class="row fields-margin">
                <div class="three columns mobile-bold">
                    March 2017
                </div>
                <div class="three columns">
                    Paper Title
                </div>
                <div class="six columns">
                    La Salle Computer Society
                </div>
            </div>
            
        </div>
        
        
    </body>
    
</html>