html {
  font-family: Arial;
  font-size: 11pt;
}

body {
	margin-top: 1in;
	margin-left: 1in;
	margin-right: 1in;
	margin-bottom: 1in;
}

p {
	margin: 0px;
	padding: 0px;
}



#section-header {
  font-weight: bold;
}

#section-content-left {
	display: inline;
}

#section-content-right {
	display: inline;
	margin-left: 3.81cm;
}
