

html {
  font-family: Arial;
  font-size: 11pt;
}

p {
	margin: 0px;
	padding: 0px;
}


#section-header {
  font-weight: bold;
}

#section-content-left {
	float: left;
}

#section-content-right {
	text-align: justify;
	margin-left: 3.81cm;
}
